.body{
    height: 100vh;
    background-color: #000;
    background-image: url(./image/Greens.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav{
    background-color: #fff;
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-around;
}
.logo{
    display: flex;
    align-items: center;
    margin-left: -40px;
}
p{
    margin-top: 23%;
    margin-left: 6%;
}
.nav-link{
    color: #000;
    text-decoration: none;
    list-style: none;
}