/* ..........
categories
............... */

.categories{
    /* background-color: #000; */
    margin-top: -8%;
    width: 96%;
    height: 155vh;
    margin-left: 2%;
    /* margin-right: 2%; */
    
}
.all-vegetables{
    display: flex;
    
}
.all-vegetables-link{
    width: 34%;
    height: 33vh;
    margin-left: 1%;

}
.all-vegetables-link img{
    width: 100%;
   
}
.vegetable-category{
    border-radius: 20px;
    width: 25%;
    height: 30vh;
    margin-top: 2%;
    margin: 1%;
}
