.icons{
    display: flex;
    margin-left: 7rem;
   
    /* width: 90%; */
    /* padding-left: 19%;  */
    /* margin-top: -7%; */
    /* margin-left: 0%; */
}
.cart{
    color: black;
    background-color:#2FC85A;
    width: 300px;
    padding: 2rem;
    /* height: 27rem; */
    /* position: relative; */
    /* font-size:60px; */
    border-radius: 20px;
    /* margin-left: auto; */
    margin: 3rem 2rem 1rem 1rem;
    /* left: -9%; */
}
.icon{
    margin: 1rem 1rem 3rem 4rem;
    /* font-size: rem; */
    /* height: auto; */
    /* width: 50%; */
}
.order-head h1{
    font-size: 25px;
    text-align: center;
    /* margin: 0 auto; */
    /* width: 60%; */
    /* font-weight: lighter; */
}
.orders{
    /* display: flex; */
    /* font-size: 32%; */
    text-align: center;
    /* height: 9rem; */
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}


@media screen and (max-width: 600px){
   
    .icons{
        display: block;
        width: 90%;
        padding-left: 19%; 
        margin-top: 7%;
        margin-left: 0%;    
    }
    
    .icon{

        margin: 1rem 1rem 3rem 1rem;
        font: size 20px;;
        height: auto;
        width: 50%;
    }
    .cart{
        margin: 2rem 2rem 2rem 2rem;
        color: black;
        background-color:#2FC85A;
        width: 100%;
        text-align: center;
    }
    
    
    
    .order-head{
        display: flex;
        text-align: center;
        margin: 0 auto;
        width: 10rem;
    }
    
    .orders p{        
        padding: 1rem;
        width: 90%;
        height: 50%;
        font-size: 100%;
        text-align: center;
    }
    .cart{
        color: black;
        background-color:#2FC85A;
        width: 100%;
        height: 32%;
        position: relative;
        font-size:50px;
        border-radius: 10px;
        margin: 1rem 1rem 1rem 1rem;
    }
    
      
   
}







