.footer{
    margin-top: 4%;
    background-color:#fff;
    width: 100%;
    height: 14vh;
    color: #2FC85A;
    padding-bottom: 2%;
}
.contact{
    margin-left: 1%;
}
.copy{
    margin-left: 1%;

}
.inter-footer{
    padding-top: 2%;
    margin-left: 40%;
}



