.gre{
    position: relative;
    /* background-color: red; */
  }

  .market-image{
    margin-top: -25%;
  }
.ser{
    position: absolute;
    bottom: 100rem;
    left: 40%;
  }

  .category{
    display: flex;
    }
    .Fruit-category{
      margin: 23px;

      border-radius: 8%;
      width: 21%;
      height: 34%;
      background-color: #1af634;
    }
    .sub-box{
      position: absolute;
      margin-top: 128px;
      margin-left: 23px;
      width: 16%;
      height: 13vh;
      background-color: orange;
    }
    .Fruits-title{
      display: flex;
      justify-content: center;
      margin-top: 11%;
    }
    .titles{
      margin-left: 3%;
    }


    @media screen and (max-width: 600px){
      .ser{
        position: absolute;
        bottom: 90%;
        left: 40%;
      }
    }