
.original{
    background-color:#FEF5EC;
    justify-content: center;
    display: flex;
    padding: 90px 0 90px 0;

}
.nav-bar{
    background-color: #2FC85A;
    display: flex;
    width: 100%;
    height: 12vh;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.sub-original{
    background-color: #fff;
    width: 30%;
    height: 60vh;
    padding: 30px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.sub-original2{
    background-color: #EE6B4F;
    width: 30%;
    height: 60vh;
    padding: 30px;
}
.input{
    margin-bottom :13px;
    margin-top: 13px;
    height: 4vh;
    width: 78%;

}
.heading{
    margin-top: 48%;
    margin-left: 5%;
}


.topbar{
    width: 100%;
    height: 50px;
    background-color: #000;
}
.topbarwrapper{
    height: 50px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-weight: bold;
    font-size: 30px;
    color: green;
    cursor: pointer;
}

.container{
    display:flex;
}
main{
    width: 100%;
    padding: 20px;
}
.sidebar{
    box-shadow: 0px 3px 4px 2px ;
    background: #fff;
    color: #000;
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
    position: fixed;
}
.top_section{
    display: flex;
    margin-bottom: 34px;
    align-items:center;
    padding:20px 15px;
}
.log{
    margin-right: 4px;
    font-size: 45px;
    color: #0e6426;
    text-decoration: none;
}
.logo2{
    color: green;
    margin-left: 4px;
    margin-right: -26px;
    font-size: 15px;
}

.bars{
    display: flex;
    font-size: 25px;
    margin-right: 30px;
}
.link{
    display: flex;
    color: #000;
    padding: 10px 15px;
    gap: 25px;
    margin-bottom: 34px;
    text-decoration: none;
    transition: all 0.1s;
}
.link:hover{
    border-radius: 23px;
    background: #2FC85A;
    color: #000;
    margin-bottom: 34px;
    transition: all 0.2s;
}
.active{
    border-radius: 25px;
    background: #2FC85A;
    color: #000;
    margin-bottom: 34px;
}
.icon{
    font-size: 20px;
}
.link_text{
    font-size: 15px;
}
.section{
    /* margin-top: -7.2%; */
    width: 100%;
    display: block;
}

.main-section{
    font-size: 24px;
    margin-left: 45px;
    width: 100vw;
}
.bar{
    width: 100%;
    display: inline-block;
    position: fixed;
}
menuitem{
    letter-spacing: 45px;
}
.search{
    display: flex;
    /* background-color: #424d45; */
}
.children{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 17%;
}
.navigation-bar{
    width: 100%;
}
.search-input{
    width: 45%;
    height:44%;
    padding-left: 21px;
    margin-top: 34px;
    border-radius: 15px;
    border: none;
}
.icons{
    /* background-color: #000 */
    display: flex;
    justify-content: space-around;
    width: 13%;
    margin-right: -78%;
    font-size: 134%;
}

.sect-main{
    margin-top: 10%;
    margin-left: 3%;
    font-size: 23px;
}
.dash-head{
    margin-left: 2%;
    font-size: 12px;
    margin-top: -2.5%;
}
.boxes{
    margin-left: 3%;
    display: flex;
}
.box{
    margin-left: 3%;
    width: 28%;
    height: 23vh;
    background-color: #fff;
    box-shadow: 1px 1px 3px 2px #2FC85A;
}
.sub-header{
    font-weight: lighter;
    font-size: 26px;
    color: #2FC85A;
    display: flex;
    justify-content: center;
}
.graph{
    margin-top: 5%;
    margin-left: 21%;
    width: 58%;
    height: 45vh;
    background-color: #fff;
    box-shadow: 1px 1px 3px 2px #2FC85A;
}

.innerchild{
    background-color: #9CC85A;
    width: 90%;
    height: 90vh;
    margin-left: 6%;
    padding: 4%;
}
.content-table{
    padding: 30PX;
margin: 10px;
}
tr{
    margin-left: 45%;
    /* background-color: #94c6a2; */
    padding: -5%;
}
.table th{
    /* background-color: #b9ee4f; */
    border: 2px solid black;
    margin-left: 67px;
    padding: 9px;
    padding-right: 5%;
    margin: 1%;

}
.boxes{
    padding: 20px;
    margin-top: 10px;
}
.box{
    /* margin-bottom: -59%; */
    height: 10vh;
    width: 12%;
    margin-left: 20%;
    margin-top: -60%;
}
.boxing{
    margin-top: -60%;
    margin-left: 55%;
    background: #ffff;
    height: 10vh;
    width: 12%;
}

.sub-header{
    margin-top: -12%;
}


